@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&family=Splash&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(243, 251, 251);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#root {
  max-width: 375px;
  margin: auto;
  height: 100vh;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.top-nav {
  width: 100%;
  height: 32px;
  background-color: transparent;
}
.google,
.time-weather,
.footer,
.frontpage-apps {
  width: 300px;
}

.notifications-shade {
  max-width: 375px;
  height: 200px;
  background-color: #f2f2f2;
  transform: translateY(-232px);
  position: absolute;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
  column-gap: 20px;
}
.page-two,
.page-three,
.page-four {
  height: 100vh;
  max-width: 375px;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.page-one {
  background-color: rgb(20, 21, 21);
  height: 100vh;
  max-width: 375px;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.page-one > .footer-section {
  position: fixed;
  bottom: 0%;
}
.page-two {
  background-color: rgb(96, 231, 231);
}
.page-three {
  background-color: rgb(189, 216, 31);
}
.page-four {
  background-color: rgb(226, 127, 116);
}
.header-section {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  margin: 0px 10px;
  display: flex;
  gap: 3px;
  align-items: center;
}
.google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin: 20px 10px 10px 10px;
  background-color: #f2f2f2;
  border-radius: 18px;
  height: 50px;
  width: 300px;
}
.time-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin: 10px;
  color: #f2f2f2;
}
h3 {
  font-weight: 300;
  font-size: 29px;
}
p {
  font-weight: 300;
  font-size: 14px;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
button {
  background-color: transparent;
  border: none;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.icons {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons > img {
  width: 40px;
  height: 40px;
}
.frontpage-apps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.transition {
  transition: transform 0.5s ease;
}

.new-styles-downward {
  transform: translateY(0px);
  transition: transform 0.5s ease-out;
}
